{% extends 'konfera/base.html' %}
{% load i18n %}


{% block title %}
    {{ event }} | {% trans "Code of Conduct" %}
{% endblock %}


{% block content_details %}
    {{ coc|safe }}

    {% if phone or phone2 %}
    <hr />
    <div class="row">
      <div class="col-md-{% if phone2 %}6{% else %}12{% endif %} text-center">
        {{ phone }}
      </div>
      {% if phone2 %}
      <div class="col-md-6 text-center">
        {{ phone2 }}
      </div>
      {% endif %}
    </div>
    {% endif %}
{% endblock %}
