{% extends 'konfera/base.html' %}

{% block content_details %}
<div class="jumbotron">
  <h1>{{ event }}</h1>
  <h2><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
    {% if event.duration > 1 %}
        {{ event.date_from|date:"d F" }} - {{ event.date_to|date:"d F Y" }}
    {% else %}
        {{ event.date_from|date:"d F Y H:i" }} - {{ event.date_to|date:"H:i" }}
    {% endif %}
  </h2>
  <h2><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
    {% if event.location.website %}<a href="{{ event.location.website }}" title="{{ event.location }}" {% if ga %}onclick="trackOutboundLink('{{ event.location.website }}');"{% endif %}>{% endif %}
      {{ event.location }},
      <br>{{ event.location.street }}, {{ event.location.city }}
    {% if event.location.website %}</a>{% endif %}
  </h2>
</div>

{% autoescape off %}{{ event.description }}{% endautoescape %}

{% endblock %}
