{% extends 'konfera/base.html' %}
{% load i18n %}


{% block title %}
    {{ event }} | {% trans "Organizer" %}
{% endblock %}


{% block content_details %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ organizer.title }}</h1>
    {{ organizer.about_us|safe }}
  </div>

  <div class="col-md-4"> <!-- right_nav -->
    <h4>{% trans "Address" %}</h4>
    <ul class="list-unstyled">
      <li>{{ organizer.street }}</li>
      {% if organizer.street2 %}<li>{{ organizer.street2 }}</li>{% endif %}
      <li>{{ organizer.city }}</li>
      {% if organizer.state %}<li>{{ organizer.state }}</li>{% endif %}
      <li>{{ organizer.country }}</li>
    </ul>
    <h4>{% trans "Legal details" %}</h4>
    <ul class="list-unstyled">
      {% if organizer.company_id %}<li><b>{% trans "Company ID" %}:</b> {{ organizer.company_id }}</li>{% endif %}
      {% if organizer.tax_id %}<li><b>{% trans "TAX ID" %}:</b> {{ organizer.tax_id }}</li>{% endif %}
      {% if organizer.vat_id %}<li><b>{% trans "VAT ID" %}:</b> {{ organizer.vat_id }}</li>{% endif %}
    </ul>
    {{ organizer.other|safe }}
  </div>

</div>
{% endblock %}
