{% extends 'konfera/base.html' %}
{% load i18n %}
{% load custom_filters %}

{% block title %}
    {% trans "Available tickets" %}
{% endblock %}


{% block content_details %}
    <ul class="list-group">
      {% for ticket in tickets %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-10">
              <h4>{{ ticket.title }}</h4>
              <p class="text-justify">{{ ticket.description }}<br>
                {% trans "Price" %}: <span class="badge">{{ ticket.price|currency }}</span>
              </p>
            </div>
            <div class="col-md-2">
              <a href="{% url 'ticket_registration' event.slug ticket.uuid %}" class="btn btn-warning btn-lg btn-block pull-right">
                <span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Register ticket
              </a>
            </div>
          </div>

        </li>
      {% endfor %}
    </ul>

    {% if tickets.num_pages > 1 %}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if tickets.has_previous %}
                    <li>
                        <a href="?page={{ tickets.previous_page_number }}" aria-label="Previous" >
                        <span aria-hidden="true">&laquo;</span></a>
                    </li>
                {% endif %}

                {% for page in tickets.paginator.page_range %}
                    <li><a href="?page={{ page }}"> {{ page }} </a></li>
                {% endfor %}

                {% if tickets.has_next %}
                    <li>
                        <a href="?page={{ tickets.next_page_number }}" aria-label="Next" >
                        <span aria-hidden="true">&raquo;</span></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    {% block bottom_public_tickets %}{% endblock %}
{% endblock %}
