{% extends 'konfera/base.html' %}
{% load i18n %}


{% block title %}
    {% trans "Available tickets" %}
{% endblock %}


{% block content_details %}
    <div class="list-group">
        {% for ticket in tickets %}
            <a href="{% url 'ticket_registration' event.slug ticket.uuid %}" class="list-group-item">
                <h4 class="list-group-item-heading"> {{ ticket.title }} </h4>
                <p class="list-group-item-text">{{ ticket.description }}</p>
                <p class="list-group-item-text">{% trans "Price" %}: {{ ticket.price }}</p>
            </a>
        {%  endfor %}
    </div>
    {% if tickets.num_pages > 1 %}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if tickets.has_previous %}
                    <li>
                        <a href="?page={{ tickets.previous_page_number }}" aria-label="Previous" >
                        <span aria-hidden="true">&laquo;</span></a>
                    </li>
                {% endif %}

                {% for page in tickets.paginator.page_range %}
                    <li><a href="?page={{ page }}"> {{ page }} </a></li>
                {% endfor %}

                {% if tickets.has_next %}
                    <li>
                        <a href="?page={{ tickets.next_page_number }}" aria-label="Next" >
                        <span aria-hidden="true">&raquo;</span></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    {% block bottom_public_tickets %}{% endblock %}
{% endblock %}
