{% extends 'konfera/base.html' %}
{% load i18n %}
{% load static %}
{% load custom_filters %}

{% block title %}
    {{ event }} | {% trans "Sponsors" %}
{% endblock %}


{% block content_details %}

  {% regroup sponsors by get_type_display as sponsor_levels  %}

<div class="sponsors">
  {% for type in sponsor_levels %}
  <div class="row" id="{{ type.grouper|lower }}">
    <div class="col-md-12 text-center">
      <h2><mark class="{{ type.grouper|lower }}">{{ type.grouper }}</mark></h2>
    </div>
  </div>
    {% for sponsor in type.list %}
  {% if forloop.first or forloop.counter in one_last_sponsor %} {# diversableby:4 so 4th sponsor starts new row #}
  <div class="row">
  {% endif %}
    <div class="{% spaceless %}
      {% if type.list|length in one_last_sponsor and type.list|length|sub:forloop.counter == 0 %}col-md-offset-4
      {% elif type.list|length in two_last_sponsor and type.list|length|sub:forloop.counter == 1 %}col-md-offset-2
      {% endif %}
      {% endspaceless %} col-md-4">
      <a href="{{ sponsor.url }}" target="_blank" class="sbox" {% if ga %}onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-{{ sponsor|slugify }}');trackOutboundLink('{{ sponsor.url }}');"{% endif %}>
        <img src="{% get_media_prefix %}{{ sponsor.logo }}" alt="{{ sponsor }}" class="slogo img-responsive center-block" />
        <div class="sbox-inner">
          <div class="sdesc">
            <h3>{{ sponsor }}</h3>
            <p>{{ sponsor.url }}</p>
            <p class="text-justify">{{ sponsor.about_us }}</p>
          </div>
        </div>
      </a>
    </div>

  {% if forloop.last or forloop.counter|divisibleby:3 %} {# diversableby:3 so 3rd sponsor ends row #}
  </div>
  {% endif %}

    {% endfor %}
  <hr>
  {% endfor %}
</div> <!-- div sponsors -->
{% endblock %}
