body {
  padding-top: 70px;
}

.navbar {
  min-height: 60px;
}

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-logo {
  height: 60px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.lang-nav {
  float: right !important;
}

@media (max-width: 767px) {
  .lang-nav {
    float: none !important;
  }
  .lang-nav > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 20px;
    text-align: right;
  }
}

.right-nav h3, .right-nav h4, .right-nav h5, .right-nav h6 {
  border: none;
  padding-bottom: 0;
}

.right-nav h4 {
  font-size: 15px;
}

.right-nav h5 {
  font-size: 14px;
}

.right-nav h6 {
  font-size: 12px;
}

img.media {
  width: 130px;
  margin: 3px 0;
}

img.silver {
  width: 140px;
  margin: 3px 0;
}

img.gold {
  width: 160px;
  margin: 5px 0;
}

img.platinum {
  width: 230px;
  margin: 5px 0;
}

mark.partners {
  background-color: #ADD8E6;
}

mark.media {
  background-color: #f0b3ff;
}

mark.django-girls {
  background-color: #346854;
  color: #ffffff;
}

mark.bronze {
  background-color: #CD7F32;
}

mark.silver {
  background-color: #C0C0C0;
}

mark.gold {
  background-color: #FCF8E3;
}

mark.platinum {
  background-color: #E5E4E2;
}

.sponsors h2 {
  margin-bottom: 20px;
}

.sponsors h2:not(:first-child) {
  margin-top: 40px;
}

.sbox, .sline {
  display: block;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border 0.2s ease-in-out 0s;
  margin-bottom: 10px;
}

.sline {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.sbox {
  height: 320px;
}

.sbox-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 11px;
  margin-top: 1px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #999;
  border-radius: 4px;
  z-index: 1;
  display: none;
}

a.sbox:hover > .sbox-inner {
  display: block;
}

.sdesc {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #fff;
  margin-left: 16px;
  margin-right: 16px;
  padding: 6px;
}

.sdesc .text-justify {
  font-size: 12px;
}

.slogo {
  display: block;
  position: absolute;
  z-index: 0;
  max-width: 75%;
  max-height: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.right-nav img {
  border: none;
}

footer {
  border-top: 2px solid #eee;
  padding-top: 20px;
  margin-top: 3em;
  margin-bottom: 1em;
}

footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.icon-large {
  font-size: 48px;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.icon-menu .glyphicon {
  font-size: 64px;
}

.tito-ticket-description {
  font-size: 1.1rem;
}

.popover-link {
  cursor: pointer;
  color: #337ab7;
  text-decoration: underline dotted;
}

.popover-link:hover, .popover-link.active {
  color: #23527c;
  text-decoration: underline solid;
}

.red {
  color: red;
}

.album {
  position: relative;
}

.album .image-caption {
  margin-bottom: 10px;
}

.album-title {
  position: absolute;
  top: 40px;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.video-length {
  position: absolute;
  top: 0px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 11px;
  margin: 0;
}

.videos h5 {
  border: none;
  padding-bottom: 0;
}

.image {
  margin-top: 15px;
  margin-bottom: 15px;
}

.image-caption {
  padding-top: 2px;
  margin: 0;
  color: #999;
  font-size: 11px;
}

.codearea {
  background-color:#000;
  color:#fff;
  font-family:'Oxygen Mono', Consolas, 'Liberation Mono', 'DejaVu Sans Mono', monospace;
  font-size:14px;
  overflow:auto
}

.bg-pycon {
  background-image: url(../images/pycon/25766775865_584b92616f_k.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 390px;
  padding-top: 100px;
  padding-right: 0px !important;
  margin-bottom: 0px !important;
}

#lead-stats {
  margin-bottom: 30px;
}

.stats {
  margin-top: 20px;
  margin-left: 110px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ee6;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
}

.stats strong {
  color: #66CCFF;
}

iframe.seamless {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}

iframe.slido-app {
  min-height: 600px;
}

textarea {
  height: 100%;
  width: 98%;
}

.logo-scale {
  height: 1.5em;
  width: auto;
}

ul.horizontal-list li.active a, ul.horizontal-list li.active a {
  color: #000;
  text-decoration: none;
}

ul.horizontal-list {
  display: table;
  margin-bottom: 30px;
  padding-left: 2px;
}

ul.horizontal-list li {
  display: table-cell;
  vertical-align: middle;
  padding-right: 20px;
  font-weight: bold;
}

.talk-data {
  padding-right: 5px;
}

.table-side > tbody > tr > td, .table-side > tbody > tr > th {
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.table-side > tbody > tr > th {
  width: 80px;
}

.talk-abstract {
  padding-right: 5px;
}

.talk-abstract ul {
  padding-left: 20px;
}

.modal-header h3, .modal-header h4, .modal-header h5 {
  border: none;
  padding-bottom: 0;
}

.modal-transparent .modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  color: #fff;
}

.modal-transparent .close {
  font-size: 30px;
  color: #fff;
  opacity: 0.6;
  text-shadow: 0 1px 0 #000;
}

.modal-transparent .close:hover {
  opacity: 0.9;
}


.modal-transparent .modal-content .modal-header {
  border-bottom-color: #999;
}

.modal-transparent .modal-content .modal-footer {
  border-top-color: #999;
}

table.schedule > thead > tr > th .room {
  font-size: 16px;
}

table.schedule {
  border: 2px solid #ddd;
}

table.schedule > thead > tr > th {
  vertical-align: middle;
}

table.schedule > thead > tr > th {
  height: 30px;
}

table.schedule > tbody > tr > td > div {
  margin: 0;
  padding: 0;
}

table.schedule > thead > tr > th:first-child , table.schedule > tbody > tr > td:first-child {
  width: 60px;
}

table.schedule .time {
  height: 44px;  /* for a 30 min slot */
  width: 54px;
  font-weight: bold;
}

table.schedule .lang {
  height: 16px;
  font-size: 12px;
}

table.schedule .talk {
  font-weight: bold;
  height: 40px;  /* for a 30 min slot */
}

table.schedule .talk.free {
  height: auto !important;
}

table.schedule .talk.free ul {
  padding-left: 16px;
  padding-bottom: 0px;
  padding-top: 2px;
}

table.schedule .talk.free ul li {
  font-weight: normal;
  font-size: 12px;
}

table.schedule .slot-5 .talk { height: 16px; } /* 40 - 14 */
table.schedule .slot-5 .time { height: 20px; } /* 44 - 14 */

table.schedule .slot-20 .talk { height: 30px; } /* 40 - 10 */
table.schedule .slot-20 .time { height: 34px; } /* 44 - 10 */

table.schedule .slot-35 .talk { height: 44px; } /* 40 + 4 */
table.schedule .slot-35 .time { height: 48px; } /* 44 + 4 */

table.schedule .slot-40 .talk { height: 50px; } /* 40 + 10 */
table.schedule .slot-40 .time { height: 54px; } /* 44 + 10 */

table.schedule .slot-45 .talk { height: 56px; } /* 40 + 16 */
table.schedule .slot-45 .time { height: 60px; } /* 44 + 16 */

table.schedule .slot-50 .talk { height: 62px; } /* 40 + 22 */
table.schedule .slot-50 .time { height: 66px; } /* 44 + 22 */

table.schedule .talk.oneline {
  height: 24px;
}

.track-2-time-synchronizer-1 {
  height: 10px;
}

.track-2-time-synchronizer-2 {
  height: 20px;
}

table.schedule tr.event td.info-main {
  cursor: pointer;
}

table.schedule tr.event .talk {
  color: #337ab7;
  text-decoration: none;
}

table.schedule tr.event:hover .talk {
  text-decoration: underline;
  color: #23527c;
}

tr.event-registration > td, tr.event-lunch > td {
  background-color: #EEFFFF;
}

table.schedule .speaker {
  height: 20px;
}

table.schedule .speaker small {
  line-height: 3px;
}

.col-md-6.narrow {
  padding-right: 10px;
  padding-left: 10px;
}


/* save space on smaller screens */
@media (min-width: 992px) and (max-width: 1199px) {
  table.schedule .speaker {
    text-align: right !important;
  }
  .col-md-6.narrow {
    padding-right: 4px;
    padding-left: 4px;
  }
}
@media (max-width: 400px) {
  table.schedule .speaker {
    text-align: right !important;
  }
}

#event-details .modal-footer h3 {
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 4px;
}

#event-details .modal-footer p {
  font-size: 12px;
}

#speaker-bio .img-thumbnail, #speaker2-bio .img-thumbnail {
  margin-top: 10px;
  max-height: 120px;
}

/*
A custom Bootstrap 3.2 'Google Plus style' theme
from http://bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

/*
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#e0e0e0;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}
*/

.navbar-default {background-color:rgba(244, 244, 244, 0.9);border-width:0;z-index:5;}
.navbar-default .navbar-nav > li > a {border-bottom: 2px solid transparent;}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > li:hover > a {border:0 solid #4285f4;border-bottom-width:2px;background-color:transparent;color:#000;text-shadow:0px 1px 1px rgba(0, 0, 0, 0.4)}
.navbar-default .navbar-nav.lang-nav > .active > a,.navbar-default .navbar-nav.lang-nav > li:hover > a {font-weight: normal;}
.navbar-default .navbar-header.active > a .navbar-brand, .navbar-default .navbar-header:hover > a .navbar-brand {color:#000; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.2)}
.navbar-default .dropdown-menu {background-color:rgba(244, 244, 244, 0.9); z-index:5;}
.navbar-default .dropdown-menu li > a {padding-left:20px;}
.navbar-default .dropdown-menu li.active > a, .navbar-default .dropdown-menu li > a:hover {
  background-color:rgba(66, 133, 244, 0.9);
}

.header {background-color:#ffffff;border-width:0;}
.header .navbar-collapse {background-color:#ffffff;}
.btn,.form-control,.panel,.list-group,.well {border-radius:1px;box-shadow:0 0 0;}
.form-control {border-color:#d7d7d7;}
.btn-primary {border-color:transparent;}
.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color:#4285f4;}
.btn-plus {background-color:#ffffff;border-width:1px;border-color:#dddddd;box-shadow:1px 1px 0 #999999;border-radius:3px;color:#666666;text-shadow:0 0 1px #bbbbbb;}
.well,.panel {border-color:#d2d2d2;box-shadow:0 1px 0 #cfcfcf;border-radius:3px;}
.btn-success,.label-success,.progress-bar-success{background-color:#65b045;}
.btn-info,.label-info,.progress-bar-info{background-color:#a0c3ff;border-color:#a0c3ff;}
.btn-danger,.label-danger,.progress-bar-danger{background-color:#dd4b39;}
.btn-warning,.label-warning,.progress-bar-warning{background-color:#f4b400;color:#444444;}
.btn-warning:hover,.label-warning:hover,.progress-bar-warning:hover{color:#444444;}
hr {
  border-color:#ececec;
}

label.required:after {
  content: ' *';
}

input:not([type=button]):not([type=reset]):not([type=submit]):not([type=checkbox]), select {
  width: 98%;
}
button {
  outline: 0;
}
textarea {
  resize: none;
  outline: 0;
}
/*.panel .btn i,.btn span{*/
  /*color:#666666;*/
/*}*/
.panel .panel-heading {
  background-color:#ffffff;
  font-weight:700;
  font-size:16px;
  color:#262626;
  border-color:#ffffff;
}
.panel .panel-heading a {
  font-weight:400;
  font-size:11px;
}
.panel .panel-default {
  border-color:#cccccc;
}
.panel .panel-thumbnail {
  padding:0;
}
.panel .img-circle {
  width:50px;
  height:50px;
}
.list-group-item:first-child,.list-group-item:last-child {
  border-radius:0;
}
h3,h4,h5 { 
  border:0 solid #efefef;
  border-bottom-width:1px;
  padding-bottom:10px;
}
.dropdown-menu {
  background-color:#f4f4f4;
  border-color:#f0f0f0;
  border-radius:0;
  margin-top:-1px;
}
/* end theme */

/* template layout*/
#subnav {
  position:fixed;
  width:100%;
}

@media (max-width: 768px) {
  #subnav {
    padding-top: 6px;
  }
}

#main {
  padding-top:120px;
}
