# Django stuff
*.log
*.pot
*.pyc
local_settings.py
local_config.py
local_gunicorn.py
config.cfg
*.mo

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
sdist
develop-eggs
.installed.cfg
MANIFEST
env
envs
envs3
venv
venv3
.initialized

# Databases
*.sql
*.db
*.sqlite3

# Generated documentation
docs/_build

# Installer logs
doc/current-commit.txt
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# PyCharm
.idea

# Eclipse
.project
.pydevproject
.settings

# OS files
.DS_Store
*.swp
*.test

# Files uploaded by a user
media/
