{% extends 'konfera/base.html' %}
{% load i18n %}


{% block title %}
    {% trans "Checkin List" %}
{% endblock %}


{% block content %}
<form method="get" action=".">

    <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="First name/Last name/Email">
        <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="{% trans "Search" %}">
        </span>
    </div>
</form>

<hr>

<div class="list-group">

    {% block description %}{% endblock %}

    <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in object_list %}
            <tr>
                <td>{{ ticket.first_name }}</td>
                <td>{{ ticket.last_name }}</td>
                <td>{{ ticket.email }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.date_created }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span></a>
        </li>
        {% endif %}

        {% for page in page_obj.paginator.page_range %}
        <li><a href="?page={{ page }}"> {{ page }} </a></li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span></a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}
