{% extends 'konfera/base.html' %}
{% load i18n %}


{% block title %}
    {{ event }} | {% trans "Details" %}
{% endblock %}


{% block content %}

    <div class="alert alert-success" id="success-alert">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>Thanks! </strong>for registering...
    </div>

    <h2>{{ event }}</h2>
    <div>
        <p>
            {% trans "Type of event:" %} {{ event.event_type }}
        </p>
        <p>
            {% trans "Description:" %} {{ event.description }}
        </p>
        <p>
            {% trans "Taking place at:" %} {{ event.location }}, {{ event.location.street }}, {{ event.location.city }}
        </p>
        <p>
           {% trans "Starting at:" %} {{ event.date_from }}
        </p>
        <p>
            {% trans "Expected to end:" %} {{ event.date_to }}
        </p>
        <p>
            {% trans "Status:" %} {{ event.status|upper }}
        </p>
    </div>

    <div>
        {% if sponsors %}
            <p>{% trans "Event is sponsored by:" %}</p>
            {% for sponsor in sponsors %}
                <a href="{{ sponsor.url }}">{{ sponsor }}</a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
