{% extends 'konfera/base.html' %}
{% load i18n %}


{% block title %}
    {% trans "List of upcoming events" %}
{% endblock %}


{% block content %}
    <ul>
        {% for event in events %}
        <li>
           <a href="{% url 'event_sponsors' event.slug %}">{{ event.title }}</a>
        </li>
        {%  endfor %}
    </ul>
    <div class="pagination">
    <span class="step-links">
        {% if events.has_previous %}
            <a href="?page={{ events.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% blocktrans with number=events.number total=events.paginator.num_pages %}
            Page {{ number }} of {{ total }}.
            {% endblocktrans %}
        </span>

        {% if events.has_next %}
            <a href="?page={{ events.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
    </span>
    </div>
{% endblock %}
