{% extends 'konfera/base.html' %}
{% load i18n %}


{% block title %}
  {% trans "Meetups List" %}
{% endblock %}

{% block content %}
  <ul>
    {% for meetup in meetups %}
    <li style="list-style: none;">
      <a href="" class="list-group-item">
        <h4 class="list-group-item-heading">{{ meetup.title}}</h4>
        <p class="list-group-item-text">{{ meetup.date_from}} {{ meetup.location}}</p>
     </a>
    </li>
    {% endfor %}
  </ul>
  <div class="pagination">
  <span class="step-links">
      {% if meetups.has_previous %}
          <a href="?page={{ meetups.previous_page_number }}">{% trans "previous" %}</a>
      {% endif %}

      <span class="current">
          {% blocktrans with number=meetups.number total=meetups.paginator.num_pages %}
          Page {{ number }} of {{ total }}.
          {% endblocktrans %}
      </span>

      {% if meetups.has_next %}
          <a href="?page={{ meetups.next_page_number }}">{% trans "next" %}</a>
      {% endif %}
  </span>
  </div>
{% endblock %}
