{% extends 'konfera/base.html' %}
{% load i18n %}
{% load custom_filters %}

{% block title %}
  {% trans "Order Detail" %}
{% endblock %}

{% block content_details %}

  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h2>{% trans "Details for order" %} #{{ order.variable_symbol }}</h2>
        </div>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="text-center panel-title">{% trans "Ordered tickets" %}</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-condensed table-hover">
                <thead>
                <tr>
                  <td><strong>{% trans "Name" %}</strong></td>
                  <td class="text-center"><strong>{% trans "Email" %}</strong></td>
{#                  <td class="text-center"><strong>{% trans "Phone" %}</strong></td> #}
                  <td class="text-center"><strong>{% trans "Discount Code" %}</strong></td>
{#                  <td class="text-center"><strong>{% trans "Description" %}</strong></td> #}
                  <td class="text-center"><strong>{% trans "Type" %}</strong></td>
                  <td class="text-right"><strong>{% trans "Status" %}</strong></td>
                </tr>
                </thead>
                <tbody>
                {% for ticket in order.ticket_set.all %}
                  <tr>
                    <td>{{ ticket.get_title_display }} {{ ticket.first_name }} {{ ticket.last_name }}</td>
                    <td class="text-center">{{ ticket.email }}</td>
{#                    <td class="text-center">{{ ticket.phone }}</td> #}
                    <td class="text-center">{{ ticket.discount_code.title }}</td>
{#                    <td class="text-center">{{ ticket.description }}</td> #}
                    <td class="text-center">{{ ticket.type.title }}</td>
                    <td class="text-right">{{ ticket.get_status_display }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

       <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">{% trans "Order Details" %}</div>
              <div class="panel-body">
                  <strong>{% trans "Event: " %}</strong>{{ order.event }}<br>
                  <strong>{% trans "Price: " %}</strong>{{ order.price|currency }}<br>
                  <strong>{% trans "Amount paid: " %}</strong>{{ order.amount_paid|currency }}<br>
                  {% if order.discount %}
                  <strong>{% trans "Discount: " %}</strong>{{ order.discount|currency }}<br>
                  {% endif %}
		  <strong>{% trans "Status: " %}</strong>
                  <span class="label {{ status_label }}">
                    {{ order.get_status_display }}
                  </span><br>
                  <strong>{% trans "Purchase date: " %}</strong>{{ order.purchase_date }}<br>
                  {% if order.payment_date %}
                  <strong>{% trans "Payment date: " %}</strong>{{ order.payment_date }}<br>
                  {% endif %}
	      </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading">{% trans "Receipt" %}</div>
              <div class="panel-body">
		{% if form %}
		<form method="post" class="form-horizontal" action="">
                  {% csrf_token %}
		  {% for field in form %}
		    <div class="form-group {%if field.errors %}has-error{% endif %}">
			<label for="inputEmail3" class="col-sm-2 control-label">{{ field.label_tag }}</label>
			<div class="col-sm-10">
			  {{ field }}
			  {% if field.errors %}
			  <span class="help-block">{{ field.errors }}</span>
			  {% endif %}
			  {% if field.help_text %}
			  <span class="help-block">{{ field.help_text|safe }}</span>
			  {% endif %}
			</div>
		    </div>
		  {% endfor %}
                  <input value="{% trans "Submit" %}" type="submit" class="btn btn-default center">
                </form>
		{% else %}
                  <strong>{% trans "Name: " %}</strong>{{ order.receipt_of.title }}<br>
                  <strong>{% trans "Street: " %}</strong>{{ order.receipt_of.street }}<br>
                  {% if order.receipt_of.street2 %}
		  <strong>{% trans "Street2: " %}</strong>{{ order.receipt_of.street2 }}<br>
		  {% endif %}
                  <strong>{% trans "City: " %}</strong>{{ order.receipt_of.city }}<br>
                  <strong>{% trans "Postal code: " %}</strong>{{ order.receipt_of.postcode }}<br>
                  <strong>{% trans "State: " %}</strong>{{ order.receipt_of.state }}<br>
                  {% if order.receipt_of.companyid %}
		  <strong>{% trans "Company ID: " %}</strong>{{ order.receipt_of.companyid }}<br>
                  {% endif %}
		  {% if order.receipt_of.taxid %}
		  <strong>{% trans "TAX ID: " %}</strong>{{ order.receipt_of.taxid }}<br>
                  {% endif %}
		  {% if order.receipt_of.vatid %}
		  <strong>{% trans "VAT ID: " %}</strong>{{ order.receipt_of.vatid }}<br>
                  {% endif %}
		{% endif %}
              </div>
            </div>
          </div>
        </div>

  </div>
{% endblock %}
