{% extends 'konfera/base.html' %}
{% load i18n %}
{% load custom_filters %}

{% block content_top %}
    <h2>{% blocktrans %} Registration of a {{ type }} {% endblocktrans %}</h2>
{% endblock %}

{% block content_details %}
    <div class="list-group">
      <div class="list-group-item">
        <h4 class="list-group-item-heading"> {{ title }} </h4>
        <p class="list-group-item-text">{{ description }}</p>
        <p class="list-group-item-text">{% trans "Price" %}: <span class="badge">{{ price|currency }}</span></p>
      </div>
    </div>
    <div class="col-md-12">
        <form method="post" action="" class="form-horizontal">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

            {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ error }}</div>
            {% endfor %}

            {% for field in form.visible_fields %}
              <div class="form-group{% if field.field.required %} required{% endif %}{% if field.errors %} has-error{% endif %}">
                <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-10">
                {{ field|addcss:"col-sm-10 form-control" }} {{ field.field.addon }}
                {% for error in field.errors %}
                <span class="help-block error">{{ error }}
                  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span></span>
                {% empty %}{% if field.help_text %}
                <span class="help-block note">{{ field.help_text }}
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>{% endif %}
                {% endfor %}
                </div>
              </div>
            {% endfor %}

            <button type="submit" class="btn btn-warning btn-lg center-block">
              <span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> {% trans "Order ticket" %}
            </button>
        </form>
    </div>
{% endblock %}
