{% extends 'konfera/checkin/base.html' %}
{% load i18n %}


{% block checkin_content %}
<div class="list-group">
    <h2>Ticket details</h2>

    <table class="table">
        <tr>
            <th>Full name</th>
            <td>{{ object }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ object.email }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ object.type }}</td>
        </tr>
        {% if object.phone %}
            <tr>
                <th>Email</th>
                <td>{{ object.phone }}</td>
            </tr>
        {% endif %}

        {% if object.description %}
            <tr>
                <th>Description</th>
                <td>{{ object.description }}</td>
            </tr>
        {% endif %}
    </table>

    <hr>

    <form action="." method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}
