{% extends 'konfera/checkin/base.html' %}
{% load i18n %}


{% block checkin_content %}
<div class="list-group">
    <h2>{% trans "Ticket details" %}</h2>

    <table class="table">
        <tr>
            <th>{% trans "Full name" %}</th>
            <td>{{ object }}</td>
        </tr>
        <tr>
            <th>{% trans "Type" %}</th>
            <td>{{ object.type }}</td>
        </tr>
        <tr>
            <th>{% trans "Order status" %}</th>
            <td>{{ ticket.order.get_status_display }}</td>
        </tr>
        {% if object.description %}
            <tr>
                <th>{% trans "Description" %}</th>
                <td>{{ object.description }}</td>
            </tr>
        {% endif %}
    </table>

    <hr>

    <form action="." method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}
