{% load i18n %}

<form method="get" action="{% url 'check_in' event.slug %}">
    <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="{% trans "First name/Last name/Email" %}">
        <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="{% trans "Search" %}">
        </span>
    </div>
    <div class="checkbox">
      <label>
          <input type="checkbox" {% if registered_only %}checked{% endif %} name="registered_only">
          {% trans "Registered only" %}
      </label>
    </div>
</form>
